[ req ]
    default_bits        = 256
    distinguished_name  = req_distinguished_name
    string_mask         = utf8only
    default_md          = sha256 # 保持默认
    [ req_distinguished_name ]
    countryName                     = Country Name (2 letter code)
    organizationalUnitName          = Organizational Unit Name
    countryName_default             = CN                                           # 默认即可
    organizationalUnitName_default  = client                                       # 保持默认
